[submodule "Classes/FeedParser"]
	path = Classes/FeedParser
	url = git://github.com/victorpimentel/feedparser.git
[submodule "Classes/RegexKitLite"]
	path = Classes/RegexKitLite
	url = git://github.com/victorpimentel/RegexKitLite.git
