[submodule "Classes/FeedParser"]
	path = Classes/FeedParser
	url = git://github.com/kballard/feedparser.git
[submodule "Classes/LCLLogFile/LibComponentLogging-LogFile"]
	path = Classes/LCLLogFile/LibComponentLogging-LogFile
	url = git://github.com/aharren/LibComponentLogging-LogFile.git
