# Xcode Noise
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdatad

# OSX Noise
.DS_Store

# SVN Noises (just in case)
.svn

# Web Translate It
config/

# Real "Secrets" configuration file
Classes/AppSecretConstants.h
