<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.tvshows</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>TVShows.icns</string>
	<key>SUFeedURL</key>
	<string>http://tvshows.sourceforge.net/appcast.xml</string>
	<key>SUPublicDSAKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOzCCAi4GByqGSM44BAEwggIhAoIBAQDCnjRNY7GZtp8w8lSmZO0c147STM7j
ljl4W97qrRFHv3ORXINEReOZqnkCuDQJSkdsv9JDIsSrKXrMFxBTOI7Y2C2th9KV
pCGWIhrZiSX7pT75a4gINM1wWo9mFjpLVFNbj9HhnmlWeb2ahLUCUsYMaNqlZ3/E
s64PLE+/FKkOgjyLTDt41ep5GXBrYIuM+soj8pwaZiLU8MUcbJEm6ON6EkCXX7Ul
h9xXdsCf9yIoB1/3GIdvcLsOhJrZDAeYGAZGhoYUGcERK2vNAj7F3JUgLh6gzRcZ
21EHVPTL94QMc4nm56xsSoctLPPcRZmbD6DD/UO5o1/uH/8uBNnU8ODjAhUA48/z
Cd43FiYc7xp2zPYbRUAjcScCggEBALinCFgHWj6bl/IMRMumAq20k1komVvXvhxc
xGB/mB0QhDEu+u33ZGtsJVNq5DxdCJojjS83rt7jkBSon9RU5vUPAbNStLRvRA8T
xPUxMcyROAdAvr+h1QXKCXve+cc++xos8zLzjubIofZkCOiF4CGxhNMuOBYup0lB
eUGxK4EYuCC2dlyg3L/mrL0rduioxyl6OFIzv9n+59SweQGQ+R0Px+XqPtxQrbk/
zXkDK3vPJg/oxKHaRGeszBeLvlAX/AoBgvvP+WEF4NIdTmX/ybqpYYUcSJUqqGzv
ygval/NNrBdnHyv3aT2Deexxb4CEtqqOgj5TgPmad6MSTXN6F4sDggEFAAKCAQBZ
D96tObfKTstn2d+4zePq3RbdGGnKB+T5h08uCD24mkAuuQkEIAqwuVAns8Lagk9d
XmMV1ZHVsGtYeUwCwClU0qiQb/MaiUpJCTV9gIFIHf6u13gzCH2LKTr2UDV+iq7o
Fz3PYy95uhd/W9eTYstJSxD6luxVM6KZUp0jcJhfvVtrhaVn5HDUM875yPaXKyCN
/IhNRJBAqsCAUKFJL5CWYfg0H6Gi9oV0Ou/WyQnWZ3prVZw+Tk8T/80PH29OCz7w
3vTMpmRaBLyXqi/o5Lbc9dO+VbmoCvxyWw5y5bf+MfKjsn6jD+7TVU2Qiv2uO8um
rAoi+cFDem37Lk0CT1L0
-----END PUBLIC KEY-----</string>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUCheckAtStartup</key>
	<true/>
</dict>
</plist>
