<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.victorpimentel.TVShows2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>TVShowsPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>TVShows-Beta-Large.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>TVShows</string>
	<key>NSPrincipalClass</key>
	<string>TVShowsPref</string>
	<key>SUFeedURL</key>
	<string>http://tvshowsapp.com/tvshows.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SUPublicDSAKey.pem</string>
	<key>TSBundleBuildDate</key>
	<string>January 1st, 1970</string>
</dict>
</plist>
