<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutomaticallyOpenTorrent</key>
	<true/>
	<key>CheckDelay</key>
	<integer>1</integer>
	<key>IsEnabled</key>
	<true/>
	<key>Quality</key>
	<integer>1</integer>
	<key>TorrentFolder</key>
	<string>~/Movies</string>
	<key>ScriptVersion</key>
	<string>0</string>
</dict>
</plist>
